    *{
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #FFD8BE;
}

.background{
    background-color: white;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 2%;
    position: fixed;
    margin-top: 0;
}

.jenName{
    text-decoration: none;
    color: black;
    padding: 2%;
    font-size: 1.4rem;
    color: black;
    font-family: "Playwrite VN", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

header ul{
    padding: 2%;
    padding-right: 4%;
    list-style-type: none;
    display: flex;
    width: 45%;
    justify-content: flex-end;
}

.headerLinks{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: all ease-in-out 0.4s;
    margin-left: 1.5vw;
}

.headerLinks:hover{
    color: #9381FF;
}


.frontPage{
    display: flex;
    width: 90%;
    padding: 3%;
    justify-content: space-between;
    /* margin-top: 10%; */
    padding-top: 10%;
}

.leftFrontPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
}

.rightFrontPage{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileIMG{
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 5%;
}

.leftFrontPage h1{
    font-size: 8rem;
    align-items: center;
}

.leftFrontPage h2{
    font-size: 3rem;
    margin-bottom: 3%;
}

.leftFrontPage h3{
    font-size: 2rem;
    font-weight: 500;
    color: rgba(35, 35, 35, 0.744);
}

.rightFrontPage p{
    font-size: 1.5rem;
    line-height: 1.2;
}

html{
    scroll-behavior: smooth;
}

.hamburger{
    display: none;
    background-color: transparent;
    border: none;
}

.main-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content p {
    margin: 0;
  }

  .footer-content-upper{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }
  
  .leftfooter h2{
    font-weight: 100rem;
  }


  .social-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    display: flex;
  }
  
  .social-links li {
    margin: 0 10px;
  }
  
  .social-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }
  

@media(max-width: 768px){
    header{
        position: relative;
        overflow: hidden;
        margin-bottom: 0;
        padding-top: 2%;
        padding-bottom: 3%;
    }

    .frontPage{
        flex-direction: column;
        align-items: center;
        padding: 2%;
    }

    .frontPage h2{
        font-size: 7vw;
    }
    
    .frontPage h1{
        font-size: 20vw;
        align-self:flex-start;
    }

    .rightFrontPage{
        margin-top: 10%;
        width: 80%;
    }

    .rightFrontPage p{
        font-size: 6vw;
    }

    .headerLinks{
        display: none;
    }

    .hamburger{
        display: flex;
        align-items: center;
    }
    .hamburger img{
        height: 7vw;
        width: auto;
    }

    .linksMobile{
        background-color:#FFD8BE;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        justify-content: space-around;
        height: 0px;
        overflow: hidden; 
        transition: all 0.4s ease-in-out;    
    }
    
    .headerLinksMobile{
        text-decoration: none;
        font-weight: 500;
        color: black;
        font-size: 8vw;
        opacity: 0%;
        transition: 0.3s ease-in-out;
    }

    .showNav{
        height: 65vh;
        padding-bottom: 25vh;
    }

    .showNavText{
        opacity: 100%;
    }
}