.resumePage{
    padding: 5%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}

.resumePage h1{
    font-size: 5rem;
    margin-bottom: 3%;
}

.workcards{
    display: flex;
    flex-direction: column;  
    align-items: center;

}

.individualcards{
    display: flex;
    width: 60%;
    padding: 4%;
    background: rgba(142, 142, 142, 0.404);
    justify-content: space-between;
    margin-bottom: 3%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.09);
}

.leftCard{
    display: flex;
    flex-direction: column;
    width: 40%;
}



.leftCard h1{
    font-size: 2rem;
    font-weight: 600;
}

.leftCard h2{
    font-size: 1.5rem;
}

.leftCard h3 {
    font-size: 1.2rem;
}

.rightCard{
    display: flex;
    flex-direction: column;  
    width: 50%;
}

.rightCard p{
    font-size: 1.2rem;
}

.individualcardsProj{
    margin-bottom: 3%;
    background-color: white;
    display: flex;
    width: 65%;
    justify-content: space-between;
    padding-left: 4%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.09);
}

.leftCardProj{
    width: 50%;
    padding-top: 4%;
    padding-bottom: 3%;
}

.leftCardProj h1{
    font-size: 1.8rem;
    font-weight: 600;
}

.leftCardProj p{
    font-size: 1.3rem;
}

.rightCardProj{
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.individualcardsContact{
    margin-bottom: 3%;
    background-color: white;
    display: flex;
    width: 65%;
    justify-content: space-between;
    padding: 4%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.09);
    align-self: center;
}

.contactBlock{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.verticalContact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideContactBlock{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 3%;

}

.sideContactBlock input{
    padding: 4%;
    width: 100%;
    border: none;
    border-bottom: solid black 1px;
}

.bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;

}

.bottom input{
    padding: 2%;
    border: none;
    border-bottom: solid black 1px;
}

.sideContactBlock input:focus{
    border: none;
    border-bottom: solid black 1px;
    outline: none;
} 

.bottom input:focus{
    border: none;
    border-bottom: solid black 1px;
    outline: none;
}

.verticalContact input{
    padding-left: 0;
}

.messageBox{
    margin-top: 2%;
    resize: none;
    height: 10rem;
    border: none;
    border-bottom: solid black 1px;
}

.messageBox:focus{
    border: none;
    border-bottom: solid black 1px;
    outline: none;
}


/* CSS */
.button-28 {
  appearance: none;
  background-color: #FFEEDD;
  border: 2px solid #FFD8BE;
  border-radius: 15px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: black;
  /* background-color: transparent; */
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  /* border: none; */
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

@media (max-width: 768px){
    .resumePage h1 {
        font-size: 16vw;
    }

    .workcards{
        width: 100%;
        flex-direction: column;
    }

    .individualcards{
        padding: 4%;
        flex-direction: column;
        width: 80%;
    }

    .leftCard{
        width: 100%;
    }

    .leftCard h1{
        font-size: 7vw;
    }

    .leftCard h2{
        font-size: 5vw;
        font-weight: 400;
    }

    .leftCard h3{
        margin-top: 2%;
        font-size: 5vw;
    }

    .rightCard{
        width: 100%;
    }

    .rightCard p{
        margin-top: 3%;
        font-size: 4vw
    }

    .individualcardsProj{
        padding: 4%;
        flex-direction: column;
        width: 80%;
    }

    .leftCardProj{
        width: 100%;
    }

    .leftCardProj h1{
        font-size: 7vw;
    }

    .rightCardProj{
        width: 100%;
    }

    .individualcardsContact{
        width: 80%;
        justify-content: center;
    }

    .verticalContact{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .contactBlock{
        flex-direction: column;
    }

    .sideContactBlock{
        width: 100%;
    }

    .button-28{
        width: 40%;
    }
}